<div class="section bg-dark text-white" id="experience">
  <h2 class="text-center mb-3">Experience</h2>
  <hr class="briefcase-light">
  <div class="text-justify">
    <div class="row">
      <div class="experience col-lg-7 col-md-12">
        <h3>Vanderbilt University Medical Center</h3>
        <h4>Product Development Intern</h4>
        <h4>May 2018 - Jan 2019</h4>
        <p>Full stack developer on an Agile team working on a web application to help providers schedule their time off.
          The application went through many changes during my time at Vanderbilt, especially the frontend.
          I started out developing on an AngularJS application with a Java backend. We then migrated from AngularJS
          to Angular 2, rewriting the entire frontend. This is the application we continued adding features to, many of
          which worked toward automating the system and integrating with the electronic health record used by the
          hospital.
        </p>
      </div>
      <div class="offset-lg-3 vertical-center">
        <span class="ghost-smile"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg 5 vertical-center">
        <span class="ghost-smile"></span>
      </div>
      <div class="experience col-lg-7 col-md-12 mt-3">
        <h3>Lipscomb University</h3>
        <h4>Arena Concessions Lead</h4>
        <h4>Feb 2016 - March 2019</h4>
        <p>Manager for the concession stands in the univerisity arena. In this position it was my job, along with the
          two
          other leads, to ensure the concessions stands were always well stocked before every event, make preparations
          before each
          event, run the concession stands during events, recruit and manage other student workers, and clean the stands
          after
          every event.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="experience col-lg-7 col-md-12 mt-3">
        <h3>Lipscomb University</h3>
        <h4>Tutor</h4>
        <h4>Jan 2019 - Present</h4>
        <p>Tutor for Intro to Computer Programming, Object Oriented Programming, Data Structures and Algorithms,
          Database Management Systems, and Web Development.
        </p>
      </div>
          <div class="offset-lg-3 vertical-center">
            <span class="ghost-smile"></span>
          </div>
    </div>
    <div class="row">
      <div class="col-lg-5 vertical-center">
        <span class="ghost-smile"></span>
      </div>
      <div class="experience col-lg-7 col-md-12 mt-3">
        <h3>Lipscomb University</h3>
        <h4>Teacher's Aide</h4>
        <h4>Jan 2019 - Present</h4>
        <p>Teacher's Aide for Web Development course at Lipscomb University.</p>
      </div>
    </div>
    <div class="row">
      <div class="experience col-lg-7 col-md-12 mt-3">
        <h3>Target Co.</h3>
        <h4>Softlines Team Member</h4>
        <h4>May 2017 - Jan 2018</h4>
        <p>Worked on Target clothing sales floor assisting customers, monitoring the dressing rooms, answering the store
          phone,
          restocking the sales floor, and keeping the sales floor clean and presentable.
        </p>
      </div>
      <div class="offset-lg-3 vertical-center">
        <span class="ghost-smile"></span>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 vertical-center">
        <span class="ghost-smile"></span>
      </div>
      <div class="experience col-lg-7 col-md-12 mt-3">
        <h3>City of Jackson Parks & Recreation</h3>
        <h4>Summer Tennis Instructor</h4>
        <h4>May 2015 - Aug 2016</h4>
        <p>Taught groups of students, ranging from ages 4-18, the fundamentals of tennis in a fun, engaging way.</p>
      </div>
    </div>
  </div>
</div>