<div class="section bg-pink text-dark text-center" id="skills">
  <h2 class="mb-3">Skills</h2>
  <hr class="star-dark">
  <div class="row">
    <div class="col-md-4">
      <h3>Languages</h3>
      <p>Java</p>
      <p>Python</p>
      <p>C/C++</p>
      <p>JavaScript</p>
      <p>TypeScript</p>
      <p>HTML</p>
      <p>CSS</p>
      <p>SQL</p>
      <p>Fit</p>
      <p>Matlab</p>
    </div>
    <div class="col-md-4">
      <h3>Frameworks</h3>
      <p>AngularJS</p>
      <p>Angular2</p>
      <p>Django</p>
      <p>Bootstrap</p>
      <p>Android</p>
      <p>Processing</p>
      <p>Spring</p>
      <p>JUnit</p>
      <p>Ionic</p>
    </div>
    <div class="col-md-4">
      <h3>Tools</h3>
      <p>Git</p>
      <p>SVN</p>
      <p>Oracle Database</p>
      <p>IntelliJ</p>
      <p>Eclipse</p>
      <p>Xcode</p>
      <p>Android Studio</p>
      <p>Maven</p>
      <p>Fitnesse</p>
      <p>MySQL</p>
    </div>
  </div>
</div>