<div class="section text-center text-dark" id="coursework">
    <h2 class="mb-3">Coursework</h2>
    <hr class="book-dark">
    <div class="col-md-12 text-left row">
        <div class="col-md-6 col-lg-3">
            <h3>Freshman</h3>
            <p>Intro to Computer Science</p>
            <p>Intro to Computer Programming</p>
            <p>Calculus I</p>
            <p>Calculus II</p>
            <p>Object-oriented Systems and Design</p>
            <p>Mathematical Structures for Computer Science</p>
            <p>Web Application Development</p>
            <p>General Physics I</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <h3>Sophomore</h3>
            <p>Data Structures and Algorithms</p>
            <p>Database Management Systems</p>
            <p>Network Principles</p>
            <p>Linear Algebra</p>
            <p>Principles of Microeconomics</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <h3>Junior</h3>
            <p>Design & Analysis of Algorithms</p>
            <p>Computer Organization</p>
            <p>Computer Graphics</p>
            <p>Principles of Software Engineering</p>
            <p>General Physics II</p>
            <p>Operating Systems</p>
            <p>Fund. of Automata and Formal Language Theory</p>
            <p>Artificial Intelligence</p>
            <p>Mathematical Theory of Statistics</p>
        </div>
        <div class="col-md-6 col-lg-3">
            <h3>Senior</h3>
            <p>Compiler Construction</p>
            <p>Fundamentals of Information Security</p>
            <p>Software Architecture & Design</p>
            <p>Competition Programming</p>
            <p>Numerical Methods</p>
            <p>Comparative Programming Languages</p>
            <p>Software Testing & Verification</p>
            <p>Agile Software Development</p>
            <p>Senior Seminar in Computer Science</p>
        </div>
    </div>
</div>