<div class="footer bg-dark">
  <div class="text-center">
    <a class="text-white" [href]="'mailto:' + email">
      <i class="logo fas fa-envelope fa-3x"></i>
    </a>
    <a class="text-white" href="https://github.com/andiegoode12">
      <i class="logo fab fa-github fa-3x"></i>
    </a>
    <a class="text-white" href="https://linkedin.com/in/andrea-goode">
      <i class="logo fab fa-linkedin fa-3x"></i>
    </a>
  </div>
    <a class="back-to-top float-right" href="#header">
      <span>
        Back to Top
      </span>
      <i class="fas fa-arrow-circle-up fa-lg"></i>
    </a>
</div>

