
.text-pink {
    color: #FFC9FA
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-weight: 700;
    font-family: 'Montserrat';
}

.logo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.back-to-top {
    color: #FFC9FA;
    padding-right: 1rem;
    text-decoration: none;
}

@media (min-width: 992px) {
    .footer {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
    }
    .logo {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    }
}