<div class="section text-dark bg-pink project" id="projects">
    <h2 class="text-center mb-3">Projects</h2>
    <hr class="code-dark">
    <div class="row">
        <div class="col-md-6 col-lg-4">
            <a class="project-item d-block mx-auto" href="https://github.com/andiegoode12/BisonMatch3.0">
                <div class="project-item-caption d-flex position-absolute h-100 w-100">
                    <div class="project-item-caption-content my-auto w-100 text-center text-white">
                        <i class="fab fa-github-square fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="../../assets/projects/bisonmatch.gif" alt="">
            </a>
        </div>
        <!-- Compiler - make graphic -->
        <!--- Something From AI (may or may not need graphic)-->
        <!--- Bouncing Ball -->
        <!--- syllabDash -->
        <!--- eventually add senior seminar project -->
        <!-- maybe something from automota -->

    </div>
</div>