header.masthead {
    padding-top: calc(6rem + 72px);
    padding-bottom: 6rem;
  }
  
  header.masthead h1 {
    font-size: 3rem;
    line-height: 3rem;
  }
  
  header.masthead h2 {
    font-size: 1.3rem;
    font-family: 'Lato';
  }