<div class="section text-dark" id="about-me">
  <h2 class="text-center mb-3">About Me</h2>
  <hr class="info-dark">
  <div class="row">
    <div class="col-lg-8 float-left pt-3">
      I am a passionate software and web developer from Jackson, TN. I am a fresh Computer Science graduate from
      Lipscomb University in Nashville, TN. While I only have about a year of professional experience, I have a passion
      for learning and experiencing new things. I am currently seeking a Software Development position in the Baltimore,
      MD
      area that will challenge me and provide many new learning opportunites. When I am not programming, I am either
      painting,
      drawing, reading, writing, gaming, woodworking, cooking, or traveling.
    </div>
    <div class="offset-lg-2 vertical-center">
      <span class="ghost-smile"></span>
    </div>
    <!-- ghost goes here -->
    <!-- if name of user is known then:
        "Here is a little bit about me and where I come from. Feel free to read."
        thought bubble cycle through keyboard, controller, pencil and paper, 
        paint brush, woodworking stuff, spatula and pan, airplane, london-->
    <!-- if name of user unknown then:
        "Hello? Can you see me? I asked you a question? I am glad you are interested in learning about me though."-->
  </div>
</div>